<!--<div>
        <h1>Create a Graph</h1>
        <div class="alert alert-info" role="alert">
            Click any pair of nodes to connect them with an edge
        </div>
        <vertex [value]="'A'"></vertex>
        <table class="graph-table">
            <tr>
                <td><vertex [value]="'B'"></vertex><td><vertex [value]="'C'" ></vertex></td>
            <tr>
                <td><vertex [value]="'E'" ></vertex></td><td><vertex [value]="'F'" ></vertex></td>
            </tr>
            <tr>
                <td><vertex [value]="'G'" ></vertex></td><td><vertex [value]="'H'" ></vertex></td><td><vertex [value]="'I'" ></vertex></td>
            </tr>
        </table>
</div>
-->
<div >
	<button type="button" class="btn btn-info" *ngIf="ifAdmin" (click) = "administrer()">Admin</button>
</div>
<div class="row" *ngIf="classification" >
	        
	<!--<div class="col-md-2">
                 <button type="button" class="btn btn-success" (click) = "getAttribut()">get Attribut</button>             
        </div>--> 
        <br>
	<div  class="col-md-6" >
            <h3 class="card-header text-center">Données Filiale</h3>
	</div>
        <div  class="col-md-6 card" >
            <h3 class="card-header text-center">Manutan GMC</h3>
            <div class="card-block">
                <ul>
                    
                    <span *ngFor="let cl of classification">
                    <!-- <div class="card card-inverse card-success mb-3 text-center"> -->
                        
                       <li style=" list-style: none;" class="list-group-item">
                           <span class="iconButton" [ngClass]='{"tree-node-no-children": !cl.showIcon}' >
                                {{cl.icon}}
                            </span>
                            <span (click)="toggle(cl)" [matTooltip]="cl.MetaData['0'].Value['1']._" [matTooltipPosition]="position">
                                <strong>{{cl.Name["0"] }}</strong>
                                <!-- {{cl.Metadata["0"]["@"].ID cl.attribut.ID}} -->
                            </span>
                        
                            <div *ngIf="cl.expanded">
                                    
                                <ul>
                                    <li *ngFor="let cl2 of cl.Classification" style=" list-style: none;">
					<span *ngIf="cl2.Classification;else other_cl2">
                                        	<span class="iconButton" [ngClass]='{"tree-node-no-children": !cl2.showIcon}' >
                                               	 	{{cl2.icon}}
                                       		 </span>
					</span>
					<ng-template #other_cl2>
                                                 <img src="/assets/icons/icon-done.png" style=" width:10px; height:10px;"/>
                                        </ng-template>	
                                        <span *ngIf="cl2.MetaData">
                                            <span (click)="toggle(cl2)" [matTooltip]="cl2.MetaData['0'].Value['0']._" [matTooltipPosition]="position">
                                                    <strong>{{cl2.Name["0"] }}</strong>
                                            </span> 
                                        </span> 
                                        <span *ngIf="!cl2.MetaData">
                                                <span (click)="toggle(cl2)" matTooltip="Manque le Metadata pour cette classification" [matTooltipPosition]="position">
                                                        <strong>{{cl2.Name["0"] }}</strong>
                                                </span> 
                                            </span>        
                                        <div *ngIf="cl2.expanded">
                                            <ul>
                                                <li *ngFor="let cl3 of cl2.Classification" style=" list-style: none;">
                                                    <span *ngIf="cl3.Classification;else other_content">
                                                        <span class="iconButton" [ngClass]='{"tree-node-no-children": !cl3.showIcon}' >
                                                                {{cl3.icon}}
                                                        </span>
                                                    </span>
                                                    <ng-template #other_content>
                                                        <img src="/assets/icons/icon-done.png" style=" width:10px; height:10px;"/>
                                                    </ng-template>
                                                    
                                                    
                                                    
                                                        <span (click)="toggle(cl3)">
                                                                <strong>{{cl3.Name["0"] }}</strong>
                                                        </span> 
                                                        <div *ngIf="cl3.expanded">
                                                                <ul>
                                                                    <li *ngFor="let cl4 of cl3.Classification" style=" list-style: none;">
                                                                        <img src="/assets/icons/icon-done.png" style=" width:10px; height:10px;"/>
                                                                        <span (click)="toggle(cl4)">
                                                                            <strong>{{cl4.Name["0"] }}</strong>
                                                                        </span> 
                                                                    </li>
                                                                </ul>
                                                        </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </span>
                </ul>
        </div>
        </div>
        
    </div>

<!-- <div class="row">
    <div class="col-md-6" *ngIf="result">
        <ul *ngIf="classification">
                
            <span *ngFor="let cl of classification">
                   <li><strong>{{cl.Name["0"] | json}}</strong></li>
                    <ul>
                            <li *ngFor="let cl2 of cl.Classification">
                                    {{cl2.Name["0"] | json}}
                                    <ul>
                                        <li *ngFor="let cl3 of cl2.Classification">{{cl3.Name["0"] | json}}</li>
                                    </ul>
                                </li>
                    </ul>
                
                </span>
        </ul>
    </div>
    <div class="col-md-6" >
            <button type="button" class="btn btn-success" (click) = "getResult()">get Result</button>              
    </div>
</div> -->



<!--
    <div class="row">
    <div class="col-md-6">
        <ul>
            <li *ngFor="let dir of directories">
                <span class="iconButton" [ngClass]='{"tree-node-no-children": !dir.showIcon}' >
                    {{dir.icon}}
                </span>            
                <span><input type="checkbox" [checked]="dir.checked" (click)="dir.check()"    /></span> 
                <span (click)="dir.toggle()">{{ dir.name }}</span>
                <div *ngIf="dir.expanded">
                    <ul >
                        <li *ngFor="let file of dir.files">{{file}}</li>
                    </ul>
                    <tree-view [directories]="dir.directories"></tree-view>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <ul>
            <li *ngFor="let dir of directories">
                <span class="iconButton" [ngClass]='{"tree-node-no-children": !dir.showIcon}' >
                    {{dir.icon}}
                </span>            
                <span><input type="checkbox" [checked]="dir.checked" (click)="dir.check()"    /></span> 
                <span (click)="dir.toggle()">{{ dir.name }}</span>
                <div *ngIf="dir.expanded">
                    <ul >
                        <li *ngFor="let file of dir.files">{{file}}</li>
                    </ul>
                    <tree-view [directories]="dir.directories"></tree-view>
                </div>
            </li>
        </ul>
    </div>
</div>-->
